.board {
    margin-left: 1%;
    margin-top: 1%;
    width: 82%;
    float: left;
    border: 2px solid rgba(31, 48, 65, 0.69);
    border-radius: 20px;
    background: white;
}

.options {
    width: 15.5%;
    height: 95%;
    float: left;
    margin-top:3.5% ;
    /* border: 2px solid rgba(31, 48, 65, 0.69); */
    border-radius: 20px;
}

.shapes {
    background-color: rgba(28, 47, 64, 0.318);
    margin-left: 10px;
    height: 180px;
    width: 215px;
    border-radius: 20px;
}
.title {
    color: rgb(22, 41, 57);
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 35px;
    font-family: Tahoma;
    position: relative;
}

.operations button{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Tahoma;
    width: max-content;
    height: max-content;
    margin: 4%;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
}
.colors button{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Tahoma;
    width: max-content;
    height: max-content;
    margin: 4%;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
}
.button {
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    width: 45px;
    height: 45px;
    margin-left: 3%;
    margin-top: 5%;
    vertical-align: top;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    position: relative;
}

.circle {
    font-size: 25px;
}

.square {
    font-size: 20px;
}
span{
    font-size: small;
    font-weight: bold;
}
.colors{
    background-color: rgba(28, 47, 64, 0.318);
    width: 95%;
    border-radius: 20px;
    margin: 5%;
    margin-top: 10px;
    font-family: Tahoma;
}
.colors td{
    font-family: Tahoma;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.colors span{
    font-size:15px;
}
.aligncolor{
    border-radius: 5px;
}
.size{
    vertical-align: top;
}
button:hover {
    transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
}
.btnOperations:active{
    background-color: #62666846;
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.colors button:active{
    background-color: #62666846;
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
i{
    display: inline-block;
}
.operations{
    background-color: rgba(28, 47, 64, 0.318);
    width: 90%;
    height: max-content;
    border-radius: 20px;
    margin-left: 8%;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
}
#choose{
    font-weight: bold;
}
.clearbtn{
    background-color: rgba(28, 47, 64, 0.318);
    width: 90%;
    height: 50px;
    border-radius: 20px;
    margin-left: 8%;
    margin-top: 10px;
    background-color: white;
    font-family: Tahoma;
    font-size: larger;
}
.save{
    background-color: rgba(28, 47, 64, 0.318);
    width: 90%;
    height: 50px;
    border-radius: 20px;
    margin-left: 8%;
    margin-top: 1%;
    font-family: Tahoma;
    font-size: larger;
    background-color: white;

}  
.popScreen {
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: 270px;
    display: inline-block;
    overflow: hidden;
    border-radius: 5%;
}

.popup {
    width: 100%;
    height: 25%;
    font-size: 20px;
    border: none;
}

.loadfile {
    padding-top: 8px;
    padding-left: 80px;
    width: 90px;
    height: 25px;
    background-color: antiquewhite;
}

.popup button:hover{
    background-color: rgba(121, 115, 115, 0.775);
}