<div class="board" id="board"></div>
<div class="options">
  <div class="shapes">
    <p class="title">Shapes</p>
    <div class="buttonShapes">
      <button (click)="drawShape($event)" title="rectangle" class="button">▭</button>
      <button (click)="drawShape($event)" title="circle"  class="button circle">◯</button>
      <button (click)="drawShape($event)" title="square" class="button square">⬜</button>
      <button (click)="drawShape($event)" title="polygon" class="button">⬠</button>
      <button (click)="drawShape($event)" title="ellipse" class="button">⬭</button>
      <button (click)="drawShape($event)" title="trianlge" class="button">△</button>
      <button (click)="drawLine($event)" title="line" class="button">╱</button>
      <button (click)="freeHand($event)" title="freehand" class="button"><i class='fas fa-paint-brush'></i></button>
    </div>
  </div>
  <table class="colors"> 
    <tbody>
      <tr>
        <td>
          <span>Color: </span>
          <input [(ngModel)]="color" class="aligncolor" type="color">
        </td>
        <td>
          <span>Fill: </span>
          <button (click)="fillshape()" (click)="changeState($event)" class="fill" class="btnOperations">
            <i class='fas fa-fill-drip'></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span>Size: </span>
          <input [(ngModel)]="size" class="size" type="range" min="1" max="100" value="5">
          <input type="text" [(ngModel)]="size" style="display:inline-block ; width: 23px;">
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="undo()" class="btnOperations">Undo <i class='fas fa-undo'></i></button>
        </td>
        <td>
          <button (click)="redo()" class="btnOperations">Redo <i class='fas fa-redo'></i></button>
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="copy()" class="btnOperations">Copy <i class='far fa-clone'></i></button>
        </td>
        <td>
          <button (click)="delete()" class="btnOperations">Erase <i class='fas fa-eraser'></i></button>
        </td>
      </tr>
    </tbody>
  </table>



  <div>
    <button (click)="save($event)" class="btnOperations save">Save <i class="fa fa-download"></i></button> 
   </div>
 
   <div class="operations">
    <input (change)="selectFile($event)" id="inputTag" type="file" style="margin-left: 10%;">
    <button [disabled]="!selected" (click)="load($event)">load <i class="fa fa-upload"></i></button>
 </div>
 <div class="clear">
  <button (click)="clear()" class="btnOperations clearbtn">Clear  <i class='fas fa-trash'></i></button>
</div>
</div>
<div *ngIf="pop" class="popScreen">

  <input  class="popup" [(ngModel)]="filename" type="text" id="fileName" placeholder="Enter File Name">
  <button class="popup" (click)="chooseFile($event)" value="js">Json</button><br>
  <button class="popup" (click)="chooseFile($event)" value="xm">Xml</button><br>
  <button class="popup" (click)="chooseFile($event)" value="close">Close</button>

</div>














<!-- 
<div class="board" id="board"></div>
<div class="options">
      <table class="shapes">
        <tbody>
          <tr>
            <td>
              <button (click)="drawShape($event)" title="rectangle" class="button">▭</button>
              <span> rectangle</span>
            </td>
            <td>
              <button (click)="drawShape($event)" title="circle" class="button">◯</button>
              <span> circle</span>
            </td>
          </tr>
          <tr>
            <td>
              <button (click)="drawShape($event)" title="square" class="button square">⬜</button>
              <span> square</span>
            </td>
            <td>
              <button (click)="drawShape($event)" title="polygon" class="button">⬠</button>
              <span> polygon</span>
            </td>
          </tr>
          <tr>
            <td>
              <button (click)="drawShape($event)" title="ellipse" class="button">⬭</button>
              <span> ellipse</span>
            </td>
            <td>
              <button (click)="drawShape($event)" title="trianlge" class="button">△</button>
              <span> trianlge</span>
            </td>
          </tr>
          <tr>
            <td>
              <button (click)="drawLine($event)" title="line" class="button">╱</button>
              <span> line</span>
            </td>
            <td>
              <button (click)="freeHand($event)" title="freehand" class="button"><i class='fas fa-paint-brush'></i></button>
              <span> freehand</span>
            </td>
          </tr>
        </tbody>
      </table>





      <table class="colors"> 
        <tbody>
          <tr>
            <td>
              <span>Color: </span>
              <input [(ngModel)]="color" class="aligncolor" type="color">
            </td>
            <td>
              <span>Fill: </span>
              <button (click)="fillshape()" class="fill">
                <i class='fas fa-fill-drip'></i>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <span>Size: </span>
              <input [(ngModel)]="size" class="size" type="range" min="1" max="100" value="5">
              <input type="text" [(ngModel)]="size" style="display:inline-block ; width: 23px;">
            </td>
          </tr>
          <tr>
            <td>
              <button (click)="undo()" class="btnOperations">Undo <i class='fas fa-undo'></i></button>
            </td>
            <td>
              <button (click)="redo()" class="btnOperations">Redo <i class='fas fa-redo'></i></button>
            </td>
          </tr>
          <tr>
            <td>
              <button (click)="copy()" class="btnOperations">Copy <i class='far fa-clone'></i></button>
            </td>
            <td>
              <button (click)="delete()" class="btnOperations">Erase <i class='fas fa-eraser'></i></button>
            </td>
          </tr>
        </tbody>
      </table>



      <div class="operations">
          <form (ngSubmit)="save($event)">
            <div id="choose">Choose the file type:</div>
            <input type="radio" value="JSON" id="json" name="filetype" [(ngModel)]="form.checkedvalue"><label for="json">json</label>
            <input type="radio" value="XML" id="json" name="filetype" [(ngModel)]="form.checkedvalue"><label for="xml">xml</label><br>
            <button type="submit" class="btnOperations save">Save <i class="fa fa-download"></i></button> 
          </form>
       </div>
     
       <div class="operations">
        <input id="inputTag" type="file">
        <button (click)="load($event)">load <i class="fa fa-upload"></i></button>
     </div>
     <div class="clear">
      <button (click)="clear()" class="btnOperations clearbtn">Clear  <i class='fas fa-trash'></i></button>
   </div>
  </div> -->